*{
	/*margin: 0;*/
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f8eee7;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#header{
	background-color: /*#9b0029*/ #94618e;
	width: 100%;
	min-height: 70px;
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;;*/
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 20px;
}
#logo-container{
	/*border: 1px solid black;*/
	flex: 1 1 600px; 
	height: auto;
}
#header-img{
	max-width: 100%;
	padding: 5px;
	margin-left: 15px;
}
#nav-bar{
	display: block;
	margin-left: 70px;
	flex: 0 1 600px; /*flex-grow, flex-shrink, flex-basis;*/
}
#nav{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.nav-link{
	text-decoration: none;
	color: #f8eee7;
}
#intro{
	margin-top: 80px;
}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#email{
	width: 300px;
	border-radius: 3px;
	height: 29px;
	border: 1px solid #49274a;
	padding: 5px;
	background-color: #f8eee7;
}
#email:hover{
	border-color: #94618e;
}
#form{
	display: flex;
	flex-direction: column;
}
#submit{
	border: 1px solid #49274a;
	width: 150px;
	align-self: center;
	background: #49274a;
	padding: 4px;
	margin: 7px 0;
	font-weight: bolder;
	border-radius: 3px;
	color: #f4decb;
}
#features{
	/*border: 1px solid black;*/
	width: 100%;
	max-width: 950px;
	height: auto;
	margin: auto;
	padding: 20px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 150px !important;
	margin-top: 80px !important;
}
.grid{
	/*border:1px solid black;*/
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0;
}
.icon{
	/*border: 1px solid black;*/
	width: 100px;
}
#operations{
	/*border: 1px solid black;*/
	width: 100%;
	max-width: 600px;
	margin: auto;
	margin-bottom: 80px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding: 10px;*/
}
#video{
	width: 100%;
	height: 300px;
	align-self: center;
	margin-bottom: 20px;
	border-radius: 5px;
}
#video-header{
	align-self: center;
}
.grid-para{
	margin-top: 0;
	line-height: inherit;
}
.feature h2{
	margin-bottom: 0;
	padding-bottom: 0;
	color: #49274a;
}
.feature{
	/*border: 1px solid black;*/
	width: 850px;
	text-align: justify;
	margin-right: 0;
}
.quotes{
	/*border: 1px solid black;*/
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 8px;
	justify-content: center;
	grid-gap: 20px;
}
.quote-item{
	border: 1px solid #49274a;
	border-radius: 100px;
	background-color: #f8eee7;
	padding: 10px;
	text-align: center;
	height: 200px;
	width: 300px;
}
.grid-container{
	/*border: 1px solid black;*/
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
	justify-content: center;
	grid-gap: 20px;
}
.grid-item{
	border: 1px solid #94618e;
	border-radius: 5px;
	background-color: #f8eee7;
	padding: 0;
	text-align: center;
	height: 300px;
	width: 300px;
}
.tag{
	border: 1px solid #94618e;
	background-color: #94618e;
	color: #f4decb;
	text-transform: uppercase;
}
.tag-img{
	width: 130px; 
	height: 100px;
}
/*.grid-item li{
	list-style: none;
}
.grid-item ul{
	padding-left: 0;
}*/
.grid-item h2{
	margin-top: 10px; 
}
.btn{
	width: 100px;
	height: 30px;
	background-color: #49274a;
	text-transform: uppercase;
	border: 1px solid #49274a;
	border-radius: 5px;
	margin-top: 20px;
	color: #f8eee7;
}
.btn:hover{
	cursor: pointer;
	font-weight: bold;
	/*font-size: 20px;*/
	/*background-color: #20b2aa;*/
	/*border-color: #20b2aa;*/
	/*text-transform: lowercase;*/
}
.fas{
	margin-top: 30px; 
	margin-right: 70px; 
	color: #49274a;
}
footer{
	margin: 10px -8px -10px -8px;
	padding: 30px;
	background-color: #f8eee7;
	color: #49274a;
	text-align: center;
	font-weight: bolder;
}
#quote{
	/*background-image: url(images/texture.jpg);*/
	background-color: #f4decb;
	color: #000;
	text-align: center;
	margin: 0 -8px 100px -8px;
	padding: 30px;
}
#instruments{
	/*background-image: url(images/texture.jpg);*/
	/*background-color: #f4a460;*/
	color: #000;
	text-align: center;
	margin: 0 -8px 30px -8px;
	padding: 30px;
}
/*#quote{
	margin-top: -70px;
	padding-top: -70px;
}*/

@media screen and (max-width: 1225px) {
	#intro{
		margin-top: 110px;
		text-align: center;
		font-size: 15px;
	}
	.grid-container{
		display: grid;
		grid-template-columns: auto auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.quotes{
		display: grid;
		grid-template-columns: auto auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.grid-item{
		border-radius: 5px;
		padding: 0;
		text-align: center;
		height: 300px;
		width: 250px;
	}
}
@media screen and (max-width: 801px) {
	#intro{
		margin-top: 70px;
		text-align: center;
		font-size: 15px;
	}
	.grid-container{
		display: grid;
		grid-template-columns: auto auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.grid-item{
		border-radius: 5px;
		padding: 0;
		text-align: center;
		height: 300px;
		width: 250px;
	}
	.quotes{
		display: grid;
		grid-template-columns: auto auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.box{
		margin-top: 30px;
	}
}
@media screen and (max-width: 640px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.grid-item{
		border-radius: 5px;
		padding: 0;
		text-align: center;
		height: 300px;
		width: 250px;
	}
	.quotes{
		display: grid;
		grid-template-columns: auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	#intro{
		margin-top: 110px;
		text-align: center;
		font-size: 15px;
	}
	.feature{
		text-align: center;
	}
	.fas{
		display: none;
	}
	.icon{
		width: auto;
	}
	#nav{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	#nav li{
		padding-bottom: 5px;
	}
	#nav li:nth-child(3){
		padding-bottom: 0;
	}
	#nav-bar{
		margin-left: 0px;
	}
	#header{
		flex-wrap: nowrap;
		padding-left: 0px;
	}
	#header-img{
		width: 100%;
		margin-left: 0px;
	}
}
@media screen and (max-width: 450px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	.quotes{
		display: grid;
		grid-template-columns: auto;
		padding: 10px;
		justify-content: center;
		grid-gap: 20px;		
	}
	#nav{
		align-self: center;
	}
	.grid-item{
		border-radius: 5px;
		padding: 0;
		text-align: center;
		height: 300px;
		width: 280px;
	}
	#email{
		width: 260px;
		margin-right: 10px;
		margin-left: 10px;
	}
	#intro{
		margin-top: 170px;
		text-align: center;
		font-size: 15px;
	}
	#nav{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	#nav li{
		padding-bottom: 5px;
	}
	#nav li:nth-child(3){
		padding-bottom: 0;
	}
	.feature{
		text-align: center;
	}
	.fas{
		display: none;
	}
	.icon{
		width: auto;
	}
	#video-header{
		text-align: center;
	}
	#header{
		flex-wrap: wrap;
	}
	#header-img{
		margin-left: 0px;
		width: 100%;
	}
	#video-header h3{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#video{
		margin-top: -40px;
		padding-top: -40px;
	}
}
